In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('athlete_events.csv')
region_df = pd.read_csv('noc_regions.csv')
df = df.merge(region_df,on='NOC', how='left')

In [3]:
years = df['Year'].unique().tolist()
years.sort()
years.insert(0,'Overall')

In [4]:
years

['Overall',
 1896,
 1900,
 1904,
 1906,
 1908,
 1912,
 1920,
 1924,
 1928,
 1932,
 1936,
 1948,
 1952,
 1956,
 1960,
 1964,
 1968,
 1972,
 1976,
 1980,
 1984,
 1988,
 1992,
 1994,
 1996,
 1998,
 2000,
 2002,
 2004,
 2006,
 2008,
 2010,
 2012,
 2014,
 2016]

In [5]:
country = np.unique(df['region'].dropna().values).tolist()
country.sort()
country.insert(0,'Overall')

In [8]:
# determine no. of events in olympics
df['Event'].unique().shape[0]

765

In [ ]:
df.drop_duplicates(['Year','region'])['Year'].value_counts().reset_index()

    Year  count
0   2016    204
1   2012    203
2   2008    202
3   2004    200
4   2000    199
5   1996    196
6   1992    169
7   1988    157
8   1984    146
9   1972    120
10  1968    111
11  1964     94
12  1976     92
13  1980     89
14  2014     88
15  1960     83
16  2010     81
17  2006     78
18  2002     76
19  1956     74
20  1998     72
21  1952     67
22  1994     67
23  1948     61
24  1936     50
25  1932     47
26  1924     46
27  1928     46
28  1900     31
29  1920     29
30  1912     29
31  1908     22
32  1906     20
33  1904     14
34  1896     12